/* Fixes tab panes adding unneeded white space despite being invisible and inactive */
/* .tab-pane:not(.active) {
    display: none;
} */

/* Fixes placeholder not showing up at all for floating labels (https://github.com/twbs/bootstrap/issues/33999#issuecomment-843540381) */
.form-floating > .form-control::placeholder {
    color: revert;
}

.form-floating > .form-control:not(:focus)::placeholder {
    color: transparent;
}